{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %} Cálculo de Álcool{% endblock %}
{% block titlehtml %} Cálculo de Álcool{% endblock %}
{% block conteudo %}
    <p class="lead" style="max-width:600px">Calcule a porcentagem de &aacute;lcool de seu hidromel utilizando a densidade inicial (OG) com a diferen&ccedil;a da densidade final (FG) </p>
    <form method="get" autocomplete="off" style="width: 300px">
        {% csrf_token %}
        {% bootstrap_form form layout="row"%}
        {% buttons submit='Calcular' %} {% endbuttons %}
    </form>
    </div>
    <p class="h2">Porcentagem  de &aacute;lcool: {{ abv }}%</p>

{% endblock %}